# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset 
data/
*.zip
*.tar
*.gz

# Models
*.h5
*.pt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db